<div class="row">
    <label for="artTitle">Title</label>
    <input class="artTitle" type="text" name="title" placeholder="Enter a title">
</div>

<div class="row">
    <label for="artCat">Category</label>
    <select class="artCat" class="" name="category">
        {{#each categories}}
            <option value="{{ id }}">{{ category_name }}</option>
        {{/each}}
    </select>
</div>

<div class="row">
    <label for="description">Description</label>
    <textarea class="description" name="description" rows="4" cols="50" placeholder="Enter a short description"></textarea>
</div>
