<h1 class="center">Welcome {{ username }}!</h1>
<form class="uploadForm" action="/admin/upload" method="post">
    <h3>Upload an image</h3>
    <div class="row">
        <label for="artTitle">Title</label>
        <input id="artTitle" type="text" name="title" placeholder="Enter a title">
        <label for="artCat">Category</label>
        <select id="artCat" class="" name="category">
            <option value="1">Ink</option>
            <option value="2">Painting</option>
            <option value="3">Sketch</option>
            <option value="4">Commission</option>
        </select>
    </div>
    <div class="row">
        <input id="file-input" type="file" name="filename">
        <input id="upload" type="submit" value="Upload">
    </div>
    <div id="progressBar">
        <div></div>
    </div>
    <span id="progressPercentage"></span>
</form>

<section class="uploadedImages">
    {{#each arts}}
        <div class="imageContainer">
            <div class="imageHeader">
                <span class="edit fa fa-pencil"></span>
                <h6 class="title">{{ title }}</h6>
                <span class="delete fa fa-remove" data-image-id="{{ id }}"></span>
            </div>
            <img class="thumbnail" src="{{url}}" alt="">
        </div>
    {{/each}}
</section>

<script src="javascripts/imageUpload.js"></script>

<script src="javascripts/editImage.js">
</script>
