<header>
    <img src="images/logo.png" alt="" />
    <div>

        <a href="#">About</a>
        <a href="#">Work</a>
        <a class="fa fa-instagram fa-lg" href="https://www.instagram.com/lynonaksamit/" target="_blank"></a>
        <a class="fa fa-facebook-official fa-lg" href="https://www.facebook.com/lynon.aksamit?fref=ts" target="_blank"></a>
    </div>
</header>

<main>
</main>

<footer class="horizontalScroll">
    {{#each images}}
        <div class="thumbnailContainer">
            <img class="thumbnail" src="images/art/{{this}}" alt="">
        </div>
    {{/each}}
</footer>

<div id="imgPlacement">
  <img class="current" src="" alt="">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="javascripts/main.js"></script>
