<main>
    <div class="infoPane">

    </div>
    <div class="changeImg">
        <span id="prev" class="fa fa-3x fa-chevron-left"></span>
    </div>
    <div class="mainCenter">
        <img src="{{ latestUrl }}" alt="" />
        <span class="showInfo fa fa-large fa-info-circle"></span>
    </div>
    <div class="changeImg">
        <span id="next" class="fa fa-3x fa-chevron-right"></span>
    </div>
</main>

<div class="thumbnails">

</div>

<footer>
    <div>
        <img src="images/logo.png" alt="Lynon Aksamit">
        <a id="gallery" href="#">Gallery</a>
        <div id="categories">
            <a class="category showAll" href="#">All</a>
            {{#each categories}}
                <a class="category" href="#">{{ this }}</a>
            {{/each}}
        </div>
    </div>
    <div>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Press</a>
        <a class="fa fa-instagram fa-lg" href="https://www.instagram.com/lynonaksamit/" target="_blank"></a>
        <a class="fa fa-facebook-official fa-lg" href="https://www.facebook.com/lynon.aksamit?fref=ts" target="_blank"></a>
    </div>
</footer>
<input id="images" type="hidden" name="images" value="{{ images }}">
<script src="javascripts/main.js"></script>
