<header>
    <img src="images/logo.png" alt="" />
    <div>

        <a href="#">About</a>
        <a href="#">Work</a>
        <a class="fa fa-instagram fa-lg" href="#"></a>
        <a class="fa fa-facebook-official fa-lg" href="#"></a>
    </div>
</header>

<main>
    <img id="current" src="" alt="">
</main>

<footer class="horizontalScroll">
    {{#each images}}
        <div class="thumbnailContainer">
            <img class="thumbnail" src="images/art/{{this}}" alt="">
        </div>
    {{/each}}
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="javascripts/main.js"></script>
