<main style="background-image:url({{ latestUrl }})">
<span id="prev" class="fa fa-3x fa-chevron-left"></span>
<span id="next" class="fa fa-3x fa-chevron-right"></span>
</main>


<footer>
    <div>
        <img src="images/logo.png" alt="" />
        <a id="gallery" href="#">Gallery</a>
    </div>
    <div>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Press</a>
        <a class="fa fa-instagram fa-lg" href="https://www.instagram.com/lynonaksamit/" target="_blank"></a>
        <a class="fa fa-facebook-official fa-lg" href="https://www.facebook.com/lynon.aksamit?fref=ts" target="_blank"></a>
    </div>
</footer>
<input id="images" type="hidden" name="images" value="{{ images }}">
<script src="javascripts/main.js"></script>
