<main>

</main>


<footer>
    <div>
        <img src="images/logo.png" alt="" />
        <a id="gallery" href="#">Gallery</a>
    </div>
    <div>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Press</a>
        <a class="fa fa-instagram fa-lg" href="https://www.instagram.com/lynonaksamit/" target="_blank"></a>
        <a class="fa fa-facebook-official fa-lg" href="https://www.facebook.com/lynon.aksamit?fref=ts" target="_blank"></a>
    </div>
</footer>

<script src="javascripts/main.js"></script>
